

.portfolio {
    // padding-top: 2%;
    padding-left: 10%;
    padding-right: 2%;
    width: 100%;
    min-height: 100vh;
    color: white;
    background-color: #212020;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;

    &__wrapper {
        display: flex;
    }

    &__section {
        width: 70%;
        margin-right: 30px;
        padding: 2%;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        
        border: 2px solid #FFFFFF;
        border-radius: 14px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        
    }

    &__item {
        width: 32%;
        
        position: relative;
        & img {
            filter: brightness(0.8);
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        

    }
    &__title {
        position: absolute;
        bottom: 1%;
        left: 3%;
    }

    // &__show-more {
        
    //     margin-top: 30px;
    //     padding-right: 30px;
    //     padding-left: 30px;
    //     cursor: pointer;

    //     border: 4px solid #FFFFFF;
    //     border-radius: 14px;
    //     background-color: transparent;

    //     font-family: 'Open Sans';
    //     font-style: normal;
    //     font-weight: 700;
    //     font-size: 32px;
    //     line-height: 44px;
    //     text-align: center;
    //     text-transform: uppercase;
    //     color: #FFFFFF;
    //     text-shadow: 0px 0px 30px #FFFFFF;


        /* Animation properties */
        // animation-name: colorReplace;
        // animation-duration: 0.5s;
        // animation-timing-function: linear;
        // animation-iteration-count: infinite;

        /* Pause the animation by default */
        // animation-play-state: paused;

        // &:hover {
        //     // border: 4px solid #E7D322;
        //     // color: #E7D322;
        //     animation-play-state: running;
        // }
    // }
    // &__show-more:disabled {
    //     color: #8e8e8e;
    //     opacity: 0.5;
    // }
}

// @keyframes colorReplace {
//     0% {
//       color: #FFFFFF;
//       border-color: #FFFFFF;
//     }
//     100% {
//       color: #E7D322;
//       border-color: #E7D322;
//     }
//   }
