@import '../../styles/variables.scss';

.popup-menu {
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 2;
    padding-left: 1%;
    

    background-color: $popup-menu-color;
    width: 40px;
    transition: width 0.2s;
   

    & svg {
        margin-right: 5px;
        transform: scale(0.6);
        flex-shrink: 0;
    }

    &__item {
        display: flex;
        align-items:center;
        margin-top: 10px;
        cursor: pointer;

        &:hover {
            & span {
                color: $popup-menu-hover-color;
            }
            & svg path {
                fill: $popup-menu-hover-color;
            }
        }
    }

    &__list {
        position: fixed;
        top: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;

       
    }

    &__title {
        font-weight: 700;
        font-size: $mobile-font-size-subtitle;
        line-height: 24px;
        text-transform: uppercase;
        white-space: nowrap;
        color: #ffffff;
        width: 0;
        overflow: hidden;
        transition: width 0.2s;
    }

    &:hover {
        width: 130px;
    }

    &:hover .popup-menu__title {
        width: 100%;
    }
}

@media (min-width: $tablet-width) {
    .popup-menu {
        position: absolute;
        left: 0;
        height: 100%;
        z-index: 2;
        padding-left: 1%;
        
    
        background-color: $popup-menu-color;
        width: 50px;
        transition: width 0.2s;
       
    
        & svg {
            margin-right: 5px;
            transform: scale(0.7);
            flex-shrink: 0;
        }
    
        &__item {
            display: flex;
            align-items:center;
            margin-top: 20px;
            cursor: pointer;
    
            &:hover {
                & span {
                    color: $popup-menu-hover-color;
                }
                & svg path {
                    fill: $popup-menu-hover-color;
                }
            }
        }
    
        &__list {
            position: fixed;
            top: 10%;
            height: 100%;
            display: flex;
            flex-direction: column;
    
           
        }
    
        &__title {
            font-weight: 700;
            font-size: $tablet-font-size-subtitle;
            line-height: 24px;
            text-transform: uppercase;
            white-space: nowrap;
            color: #ffffff;
            width: 0;
            overflow: hidden;
            transition: width 0.2s;
        }
    
        &:hover {
            width: 200px;
        }
    
        &:hover .popup-menu__title {
            width: 100%;
        }
    }
}

@media (min-width: $desktop-width) {
    .popup-menu {
        position: absolute;
        left: 0;
        height: 100%;
        z-index: 2;
        padding-left: 1%;
        
    
        background-color: $popup-menu-color;
        width: 60px;
        transition: width 0.2s;
       
    
        & svg {
            margin-right: 5px;
            transform: scale(0.7);
            flex-shrink: 0;
        }
    
        &__item {
            display: flex;
            align-items:center;
            margin-top: 30px;
            cursor: pointer;
    
            &:hover {
                & span {
                    color: $popup-menu-hover-color;
                }
                & svg path {
                    fill: $popup-menu-hover-color;
                }
            }
        }
    
        &__list {
            position: fixed;
            top: 10%;
            height: 100%;
            display: flex;
            flex-direction: column;
    
           
        }
    
        &__title {
            font-weight: 700;
            font-size: $desktop-font-size-subtitle;
            line-height: 24px;
            text-transform: uppercase;
            white-space: nowrap;
            color: #ffffff;
            width: 0;
            overflow: hidden;
            transition: width 0.2s;
        }
    
        &:hover {
            width: 20%;
        }
    
        &:hover .popup-menu__title {
            width: 100%;
        }
    }
}