.filters {
    &__list {

    }
    &__item {
        margin-bottom: 30px;
        // font-family: 'Open Sans';
        // font-style: normal;
        // font-weight: 600;
        // font-size: 20px;
        // line-height: 33px;
        // // text-align: center;
        // text-transform: uppercase;

        // color: #FFFFFF;

        // text-shadow: 0px 0px 15px #FFFFFF;
        // cursor: pointer;

    }
    & button {
        background-color: transparent;
        color: inherit;
        border: none;
        margin: 0;
        padding: 0;
        font-family: inherit;
        font-style: inherit;
        font-weight: 600;
        font-size: 20px;
        line-height: 33px;
        text-align: start;
        // text-align: center;
        text-transform: uppercase;


        text-shadow: 0px 0px 15px #FFFFFF;
    }

    &__active-filter {
        color: #E7D322;

        text-shadow: 0px 0px 30px #FFFFFF;
    }
}