.contacts {
    padding-left: 10%;
    padding-right: 2%;
    width: 100%;
    min-height: 100vh;
    color: white;
    background-color: #212020;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

